{% import "macros" as macros %}

{{ macros::static_header() }}

{{ macros::static_post_open() }}

No feed found with UUID {{ uuid }}.

{{ macros::static_post_close() }}

{{ macros::static_footer() }}
