<!DOCTYPE html>
<html>
  <title>PodRacer</title>
  <head>
    <title>PodRacer</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
  </head>
<body>
Submission Success
</body>

<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>
  <div class="wrapper">
    <h2 class="footer-heading">PodRacer</h2>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">Contact me!</li>
          <li><a class="u-email" href="mailto:contact@zachn.me">contact@zachn.me</a></li>
          <li><a href="github.com/ZNielsen/PodRacer">PodRacer on Github</a></li>
        </ul>
      </div>
      <div class="footer-col footer-col-2w">
        <p>
          This service is running on a Raspberry Pi 3.<br>
          It is still young, so improvements are coming all the time.<br>
          If you encounter a bug, please file an
            <a href="https://github.com/ZNielsen/PodRacer/issues/new">issue on github!</a><br>
        </p>
      </div>
    </div>

  </div>

</footer>

</html>
